/! Required meta tags
meta charset="utf-8"
meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"
title Rainbow UI Kit bootstrap 4 theme by EpicPxls
meta name="description" content="Bootstrap 4 theme using Rainbow UI Kit built for developers in a hurry."
meta name="keywords" content="rainbow, ui kit, bootstrap 4, developers, theme"

link href="images/main/favicon.png" rel="icon" sizes="16x16" type="image/png"
/! Bootstrap CSS
link href="css/rainbow-ui-kit.css" rel="stylesheet"